@font-face {
  src:url(fonts/Helvetica LT 75 Bold Outline.ttf);
  font-family:o
}
body {
  color: black;
  font: sans serif;
  font-family: Helvetica, Sans-Serif;
   line-height: 1.6;

}
h2{
  letter-spacing:8px;
  font-family: 'Archivo Black', sans-serif;
  
}

h2 a {
  text-decoration:none;
  color:black;
}

h2 a:hover {
  text-decoration:underline;
  
}

marquee {
  position: fixed;
  top: 0;
  padding: 0;
  font-size: 50px;
  left: 0;
  z-index: 9;
  width: 100%;
  margin-top: -40px;
  margin-bottom: -40px;
  letter-spacing:8px;
}

.fa {
  margin-top: 14px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  height:100%;
  color: black;
}

#navbar {
  overflow: hidden;
  background-color: white;
  border-top: 2.5px solid black;
  border-bottom: 2.5px solid black;
  width: 100%;
  position: fixed;
  margin-top: 50px;
  font-size: 20px;
  z-index: 10;
}

#navbar .options {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  z-index: 10;
  letter-spacing:8px;
  font-family: 'Archivo Black', sans-serif;
}

#navbar a:hover {
  color: gainsboro;
  z-index: 10;
}

#spacer {
  width: 100%;
  height: 150px;
}

#mainleft {
  float: left;
  width: 40%;
  margin-left:60px;
}

#mainright {
  float: right;
  width: 40%;
  margin-right:60px;
}

#maincentre {
  margin:auto;
  width: 80%;
}

#productimg {
  margin:auto;
  width: 60%;
  padding: 60px;
}

#productimghome {
  margin:auto;
  width: 60%;
  padding: 60px;
}

#footer {
  width:100%;
  margin-top:170px;
}

#footer img {
  float:right;
}

#footer a {
  color:black;
  margin:50%;
  font-family: 'Archivo Black', sans-serif;
  padding:3px;
}

#footer a:hover{
  color:gainsboro;
}


input[type=text]{
  margin-bottom:10px;
}



